<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/books" routerLinkActive="active">All Books</a></li>
    <li><a routerLink="/contacts" routerLinkActive="active">Contact</a></li>
    <li *ngIf="(isLoggedIn$ | async) as isLoggedIn">
      <a *ngIf="isLoggedIn" routerLink="/auth/profile" routerLinkActive="active">Profile</a>
    </li>
    <li *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/auth/register" routerLinkActive="active">Register</a>
    </li>
    <li *ngIf="isLoggedIn$ | async">
      <a routerLink="/add" routerLinkActive="active">Add Book</a>
    </li>
    <li *ngIf="isLoggedIn$ | async">
      <a (click)="logout()" href="#">Logout</a>
    </li>
  </ul>
</nav>