

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email"
                 id="email" 
                 name="email" 
                 required autocomplete="email"
                 formControlName="email"/>
            </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" 
                    id="password" 
                    name="password" 
                    required autocomplete="new-password"
                    formControlName="password"/>
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Confirm Password:</label>
                    <input type="password" 
                    id="confirm-password" 
                    name="confirm-password" 
                    required autocomplete="new-password"
                    formControlName="repeatPassword"/>
                </div>
      
        
            <button type="submit" class="register-btn">Register</button>
        </form>
    </div>
</body>
<footer>
    <p>&copy; 2024 Book Lovers Club. All rights reserved.</p>
  </footer>
</html>
