body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f2d5ed;
  }
  
  h1 {
    text-align: center;
    color: #bd40e4;
    margin-bottom: 20px;
  }
  
  .main-container {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .sub-container {
    width: calc(50% - 20px); /* 50% width with margin */
    padding: 20px;
    background-color: #db99ea;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
  }
  
  .sub-container h2 {
    color: #a157a6;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .book {
    width: calc(30% - 20px); /* 30% width with margin */
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .book:hover {
    transform: translateY(-5px);
  }
  
  .book img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .book h3 {
    font-size: 14px; /* Smaller font size for book title */
    margin: 5px 0; /* Adjusted margin for book title */
  }
  
  .book p {
    font-size: 12px; /* Smaller font size for book author */
    color: #555;
    margin: 5px 0; /* Adjusted margin for book author */
  }
  
  .details-btn {
    display: inline-block;
    padding: 6px 12px; /* Smaller padding for details button */
    font-size: 12px; /* Smaller font size for details button */
    background-color: #df62ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .details-btn:hover {
    background-color: #b062d9;
  }
  
  .no-books-message {
    text-align: center;
    color: #555;
    font-style: italic;
  }
  