<div *ngIf="user" class="container">
  <h1>Profile</h1>
  <div class="main-container">
    <div class="sub-container added-books">
      <h2>Added Books:</h2>
      <ul class="book-list">
        <li *ngFor="let book of createdBooks" class="book">
          <img [src]="book.imageUrl" [alt]="book.title">
          <h3>{{ book.title }}</h3>
          <p><strong>Author:</strong> {{ book.author }}</p>
          <button class="details-btn" (click)="goToBookDetails(book._id)">Details</button>
        </li>
      </ul>
    </div>
  
    <div class="sub-container liked-books">
      <h2>Liked Books:</h2>
      <ul class="book-list">
        <li *ngFor="let book of likedBooks" class="book">
          <img [src]="book.imageUrl" [alt]="book.title">
          <h3>{{ book.title }}</h3>
          <p><strong>Author:</strong> {{ book.author }}</p>
          <button class="details-btn" (click)="goToBookDetails(book._id)">Details</button>
        </li>
      </ul>
    </div>
  </div>
  
  <div *ngIf="!user" class="container">
    <p>Loading user profile...</p>
  </div>
  