body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://media.slidesgo.com/storage/46830322/conversions/0-book-lovers-club-thumb.jpg'); /* Replace 'background.jpg' with your actual background image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
    color: white;
  }
  
  .animated-text {
    font-size: 3em; /* Larger font size */
    margin-bottom: 20px;
    animation: changeText 10s infinite;
  }
  
  @keyframes changeText {
    0% { content: "Welcome to our book lovers club"; color: #ff69b4; } /* Pink color */
    20% { content: "Explore books"; color: #800080; } /* Purple color */
    40% { content: "Find friends"; color: #98fb98; } /* Mint color */
    60% { content: "Add favourite books"; color: #fffacd; } /* Cream color */
    80% { content: "Find new authors"; color: #87ceeb; } /* Sky blue color */
    100% { content: "Welcome to our book lovers club"; color: #ff69b4; } /* Back to pink color */
  }
  
  .btn {
    background-color: #de38b7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }