body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #b88ea6; /* Purple */
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    margin: 0;
    font-size: 28px;
  }
  
  main {
    padding: 20px;
  }
  
  .book-details {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .book-image {
    max-width: 300px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto 20px; /* Center and add bottom margin */
  }
  
  .book-title {
    margin-top: 0;
    font-size: 24px;
  }
  
  .author, .description, .price {
    margin: 5px 0;
    font-size: 18px;
  }
  
  .price {
    font-weight: bold;
  }
  
  .btn {
    background-color: #f197bd; /* Pink */
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e64a87; /* Lighter Pink on hover */
  }
  
  .unauthorized-message {
    color: red;
    font-style: italic;
  }
  
  footer {
    background-color: #f8edeb; /* Mint */
    text-align: center;
    padding: 10px 0;
  }
  
  footer p {
    margin: 0;
    color: #4a4a4a;
  }
  