body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b88ea6; /* Purple */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 28px;
}

main {
    padding: 20px;
}

.book-details {
    text-align: center;
    margin-bottom: 30px;
}

.book-title {
    margin-top: 0;
    font-size: 24px;
}

.author, .description, .price {
    margin: 5px 0;
    font-size: 18px;
}

.price {
    font-weight: bold;
}

.btn {
    background-color: #f197bd; /* Pink */
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.add-to-favorites-btn:hover {
    background-color: #e64a87; /* Lighter Pink on hover */
}

.comment-form {
    margin-top: 20px;
    text-align: left;
}

.comment-form h3 {
    margin-top: 0;
    font-size: 20px;
}

.comment-form form {
    display: flex;
    flex-direction: column;
}

.comment-form label {
    margin-bottom: 5px;
}

.comment-form input,
.comment-form textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-form button {
    background-color: #f197bd; /* Pink */
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-form button:hover {
    background-color: #e64a87; /* Lighter Pink on hover */
}

footer {
    background-color: #f8edeb; /* Mint */
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    color: #4a4a4a;
}

.submit-comment-btn {
    background-color: #f197bd; /* Pink */
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.submit-comment-btn:hover {
    background-color: #e64a87; /* Lighter Pink on hover */
}