<main>
  <div *ngIf="book" class="book-details">
    <img src="{{book?.imageUrl}}" alt="Book 1" class="book-image">
    <h2 class="book-title">{{book?.title}}</h2>
    <p class="author">{{book?.author}}</p>
    <p class="price">Price: ${{book?.price}}</p>
    <p class="description">{{book?.description}}</p>
    
    <!-- Edit button -->
    <a *ngIf="(isOwner$ | async)" [routerLink]="['/books', book?._id, 'edit']" class="btn">Edit</a>
    
    <!-- Delete button -->
    <button *ngIf="(isOwner$ | async) && (isLoggedIn$ | async)" (click)="onDelete()" class="btn">Delete</button>
    
    <!-- Like button -->
    <button *ngIf="!(isOwner$ | async) && (isLoggedIn$ | async)" (click)="onLike()" class="btn" [disabled]="(bookIsLiked$ | async)">
      <ng-container *ngIf="!(bookIsLiked$ | async); else likedText">LIKE</ng-container>
      <ng-template #likedText>LIKED</ng-template>
    </button>
  </div>
</main>
<footer>
  <p>&copy; 2024 Book Lovers Club. All rights reserved.</p>
</footer>
